<div class="container">
<div class="row">
<div class ="col-ml-2"></div>
<h3>マイページ</h3>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-ml-2"></div>
<table>
<tbody>
<tr>
<th>登録情報</th>
<td>
<%= link_to '編集する', edit_customer_path,class: "btn btn-success btn-sm" %>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container">
<div class="row">
<div class ="col-ml-2"></div>
<table border="1" width="30%">
<tbody>
<tr>
<td>氏名</td>
<td>
<%= current_customer.first_name %>
<%= current_customer.last_name %>
</td>
</tr>
<tr>
<td>カナ</td>
<td>
<%= current_customer.first_name_kana %>
<%= current_customer.last_name_kana %>
</td>
</tr>
<tr>
<td>郵便番号</td>
<td>
<%= current_customer.postal_code %>
</td>
</tr>
<tr>
<td>住所</td>
<td>
<%= current_customer.address %>
</td>
<tr>
<td>電話番号</td>
<td>
<%= current_customer.telephone_number %>
</td>
</tr>
<tr>
<td>メールアドレス</td>
<td>
<%= current_customer.email %>
</td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-ml-2"></div>
<table>
<tbody>
<tr>
<th>配送先</th>
<td>
<%= link_to '一覧を見る', deliveries_path, class: "btn btn-primary btn-sm" %>
</td>
</tr>
<tr>
<th>注文履歴</th>
<td>
<%= link_to '一覧を見る', orders_path, class: "btn btn-primary btn-sm" %>
</td>
</tr>
</tbody>
</table>
</div>
</div>