<div class="container">
<div class="row">
<div class ="col-ml-2"></div>

<h3>管理者ログイン</h3>
</div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
<div class="container">
<div class="row">
<div class ="col-lg-4"></div>
<table width="30%">
<tbody>
<tr>
<td><%= f.label 'メールアドレス' %></td>
<td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
</tr>
</div>
<tr>
  <div class="field">
<td><%= f.label 'パスワード' %></td>
<td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </div>
</tr>

</div>
</div>

<div class="container">
<div class="row">
<div class ="col-lg-6"></div>
<tr>
<div class="field">
<td><input class="btn btn-primary" type="submit" value="ログイン"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<% end %>


