<div class="container">
<div class="row">
<div class ="col-ml-4"></div>
<h3>注文履歴一覧</h3>
</div>
</div>
<div class="container">
<div class="row">
<div class ="col-ml-6"></div>
<table width="50%">
<tbody>
<tr>
<th>購入日時</th>
<th>購入者</th>
<th>注文個数</th>
</tr>
<% @orders.each do |order| %>
<tr>
<td><%= link_to admin_order_path(order.id) do %>
<%= order.created_at %>
<% end %>
</td>
<td><%= order.customer.first_name %>
    <%= order.customer.last_name %>
</td>
<% @ordered_items.each do |ordered_item| %>
<td><%= order.ordered_items.amount %></td>
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
<%= paginate @orders %>