<h1>注文履歴詳細</h1>
<p>購入者</p>
<%= link_to '/' do %>
<%= @order.customer.first_name %>
<%= @order.customer.last_name %>
<% end %>
<p>注文日</p>
<%= link_to admin_orders_path(@order.id) do %>
<%= @order.created_at %>
<% end %>
<p>配送先</p>
<%= @order.address %>
<%= @order.delivery_name %>
<p>支払方法</p>
<%= @order.payment_method %>

<p>商品名</p>
<p>単価（税込）</p>
<p>数量</p>
<p>小計</p>
<p>製作ステータス</p>
<p>商品合計</p>
<% @ordered_items.each do |ordered_item| %>
<%= ordered_item.item.name %>
<%= ordered_item.item.add_tax_price %>
<%= ordered_item.amount %>
<%= ordered_item.amount*ordered_item.purchase %>
<% end %>
<% @subtotal += ordered_item.purchase*ordered_item.amount %>
<% end %>
<%= @subtotal %>
<p>送料</p>
<%= @order.postage %>
<p>請求金額合計</p>
<%= @total = @order.postage + @subtotal %>


