<div class="container">
<div class="row">
<div class ="col-ml-4"></div>
<h4>注文履歴詳細</h4>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-ml-4"></div>
<table width="50%">
<tbody>
<tr>
<th>購入者</th>
<td><%= link_to admin_order_path(@order.id) do %>
<%= @order.customer.first_name %>
<%= @order.customer.last_name %>
<% end %>
</td>
</tr>
<tr>
<th>注文日</th>
<td><%= @order.created_at %></td>
</tr>
<tr>
<th>配送先</th>
<td>〒<%= @order.postal_code %></br>
<%= @order.address %></br>
<%= @order.delivery_name %>
</td>
</tr>
<tr>
<th>支払方法</th>
<td>
<% if @order.payment_method == true %>
<%= 'クレジットカード' %>
<% else %>
<%= '銀行振り込み' %>
<% end %>
</td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-lg-8 mt-5">
<table width="100%">
<tbody>
<tr>
<td>商品名</td>
<td>単価(税込)</td>
<td>数量</td>
<td>小計</td>
</tr>
<% @ordered_items.each do |ordered_item| %>
<tr>
<td><%= ordered_item.item.name %></td>
<td><%= ordered_item.item.add_tax_price %></td>
<td><%= ordered_item.amount %></td>
<td><%= ordered_item.amount*ordered_item.purchase %></td>
<% @subtotal += ordered_item.purchase*ordered_item.amount %>
</tr>
<% end %>
</tbody>
</table>
</div>

<div class ="col-lg-4 mt-5">
<table>
<tbody>
<tr>
<td>商品合計</td>
<td><%= @subtotal %></td>
</tr>
<tr>
<td>送料</td>
<td><%= @order.postage %></td>
</tr>
<tr>
<td>請求金額合計</td>
<td><%= @total = @order.postage + @subtotal %></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>



