<div class="container">
<div class="row">
<div class ="col-ml-4"></div>

<table>
<tbody>
<tr>
<th>注文情報入力</th>
</tr>
<tr>
<th>支払方法</th>
</tr>
<tr>
<%= form_with model: @order, url: confirm_path, local: true do |f| %>
<td><%= f.radio_button :payment_method, 'クレジットカード' %>
<%= f.label :payment_method, 'クレジットカード',value: true %>
</td>
</tr>
<tr>
<td><%= f.radio_button :payment_method, '銀行振り込み' %>
<%= f.label :payment_method, '銀行振り込み',value: false %>
</td>
</tr>

<tr>
<th>お届け先</th>
</tr>

<tr>
<td><%= f.radio_button :select_address, 1 %>
<%= f.label :address, "ご自身の住所" %></td>
</tr>
<tr>
<td>〒<%= current_customer.postal_code %>
<%= current_customer.address %>
</td>
</tr>
<tr>
<td>
<%= current_customer.first_name %><%= current_customer.last_name %>
</td>
</tr>
<tr>
<td><%= f.radio_button :select_address, 2 %>
<%= f.label :address, "登録済みの住所から選択" %></td>
</tr>
<tr>
<td><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address ) %>
</td>
</tr>
<tr>
<td><%= f.radio_button :select_address, 3 %>
<%= f.label :address, "新しいお届け先" %>
</td>
</tr>

<tr>
<td>郵便番号(ハイフンなし)</td>
<td><%= f.text_field :postal_code %></td>
</tr>
<tr>
<td>住所</td>
<td><%= f.text_field :address %></td>
</tr>
<tr>
<td>宛名</td>
<td><%= f.text_field :delivery_name %></td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-lg-4"></div>
<input class="btn btn-primary" type="submit" value="確認画面に進む">
</div>
</div>
<% end %>
