<div class="container">
<div class="row">
<div class ="col-ml-4"></div>
<h4>注文履歴詳細</h4>
</div>
</div>
<div class="container">
<div class="row">
  
<div class ="col-lg-8">
<p>注文情報</p>
<table border = "1" width="80%">
<tbody>
<tr>
<td>注文日</td>
<td><%= @order.created_at %></td>
</tr>
<tr>
<td>配送先</td>
<td>〒<%= @order.postal_code %></br>
<%= @order.address %></br>
<%= @order.delivery_name %></td>
</tr>
<tr>
<td>支払方法</td>
<td><% if @order.payment_method == true %>
<%= 'クレジットカード' %>
<% else %>
<%= '銀行振り込み' %>
<% end %>
</td>
</tbody>
</table>
</div>

<div class ="col-lg-4">
<p>請求情報</p>
<table border = "1" width="50%">
<tbody>
<tr>
<td>商品合計</td>
<td><% @ordered_items.each do |ordered_item| %>
<% @subtotal += ordered_item.purchase*ordered_item.amount %>
<% end %>
<%= @subtotal %>
</td>
</tr>
<tr>
<td>配送料</td>
<td><%= @order.postage %></td>
</tr>
<tr>
<th>ご請求額</th>
<td><%= @total = @order.postage + @subtotal %></td>
</tr>
</tbody>
</table>
</div>

</div>
</div>

<div class="container">
<div class="row">
<div class ="col-lg-8 mt-5">
<p>注文内容</p>
<table border = "1" width="120%">
<tbody>
<tr>
<td>商品</td>
<td>単価（税込み）</td>
<td>個数</td>
<td>小計</td>
</tr>
<% @ordered_items.each do |ordered_item| %>
<tr>
<td><%= ordered_item.item.name %></td>
<td><%= ordered_item.item.add_tax_price %></td>
<td><%= ordered_item.amount %></td>
<td><%= ordered_item.amount*ordered_item.purchase %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>