<% if @item.image.attached? %>
<%= image_tag @item.image, size: "50x50" %>
<% else %>
<%= image_tag '/assets/no_image.jpg', size: "50x50" %>
<% end %>
<h1><%= @item.name %></h1>
<%= @item.introduction %>
<p>￥</p><%= @item.add_tax_price %><p>(税込み)</p>
<%= form_with model: @cart_item, url: public_cart_items_path, local: true do |f| %>
<%= f.select :amount, *[1..99] %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit "カートに入れる" %>
<% end %>
