<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
    <% end %>
    <header class = "bg-white">
    <nav class = "navbar">
    <% if customer_signed_in? %>
    <div class = "container">
      <%= link_to public_customer_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">マイページ</button>
      <% end %>

      <%= link_to "/public/items",class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">商品一覧</button>
      <% end %>

      <%= link_to public_cart_items_path, class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">カート</button>
      <% end %>

      <%= link_to destroy_customer_session_path, method: :delete, class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">ログアウト</button>
      <% end %>

    </div>
    <% elsif admin_signed_in? %>
      <%= admin_signed_in? %>
      <%= link_to admin_items_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">商品一覧</button>
      <% end %>

      <%= link_to admin_customers_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">会員一覧</button>
      <% end %>

      <%= link_to admin_orders_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">注文履歴一覧</button>
      <% end %>

      <%= link_to admin_genres_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">ジャンル一覧</button>
      <% end %>

      <%= link_to destroy_admin_session_path, method: :delete, class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">ログアウト</button>
      <% end %>
    <% else %>
      <%= link_to "/public/homes/about",class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">About</button>
      <% end %>

      <%= link_to "/public/items",class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">商品一覧</button>
      <% end %>

      <%= link_to "/customers/sign_up",class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">新規登録</button>
      <% end %>

      <%= link_to new_customer_session_path,class:"text-dark" do %>
      <button type="button" class="btn btn-outline-dark">ログイン</button>
      <% end %>
    </div>
    <% end %>
    </nav>
    </nav>
    <%= admin_signed_in? %>
    <%= customer_signed_in? %>
    </header>
    <%= yield %>
  </body>
</html>
